[Interface]
Address = {{ private_server_ip }}/24
ListenPort = {{ server_port }}
PrivateKey = 8Os2GOBxodQzLbbu/X1zuGgQK6MNVnzD63yCWDMFkFE=

PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

# vpnrouter
[Peer]
PublicKey = 53pJGQbfrDCEtlVXVRr/Fgg7r57Rg56PEcCtZ8MLkE0=
AllowedIPs = 10.0.126.0/24, 192.168.57.0/24

# svdesk
[Peer]
PublicKey = jAEHOIMqRwPwIHTa1wTzj73Ok6XlS3V3YpQC/vKdukI=
AllowedIPs = 192.168.57.11/32